html, body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.how-it-works {
  margin-left: 2em;
}

.room-form input {
  display: inline;
}

.room-form label {
  display: inline;
  margin-right: 1em;
}

.page-wrap {
  display: flex;
  flex-direction: column;
}

.played {
  opacity: 0.2
}

.queue-holder {
  flex: 1;
}

.queue {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.album-art {
  background-size: cover;
  display: flex;
}

.album-art form {
  flex: 1;
  align-self: center;
}

.search-track .album-art {
  min-height: 250px;
}

.search-track .album-art form {
  font-size: 72px;
}

.queue-track .album-art {
  min-height: 150px;
}

.queue-track .album-art form {
  font-size: 48px;
}

.search-track {
  width: 250px;
  min-width: 250px;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 24px;
}

.track-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: bold;
  font-size: 16px;
}

.track-artist {
  margin-top: -4px;
  font-size: 10px;
}

.queue-track {
  width: 150px;
  min-width: 150px;
  text-align: center;
  margin: 0 10px;
}

.queue-track img {
  height: 100px;
}

.queue-track img {
  height: 100px;
}

.jumbotron {
  flex: 1;
}
