assets/dist/*
blockKey
cmd/goose/goose
cmd/server/config.prod
cmd/server/env.vars
cmd/server/server
cmd/server/*.json
config
db/coverage.out
gin-bin
hashKey
inmem.db
inmemdb
js/gopher.js*
logins.json
radiotation
radiotation-sql.db
radiotation.db
sqldb/coverage.out
