{{ define "header" }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Radiotation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="990909845123-kj8p66a3ms0srgprhusp159kj0cfedvm.apps.googleusercontent.com">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
{{ end }}

{{ define "room-form" }}
  <div class="container">
    <form class="room-form" action="/rooms" method="POST">
      <div class="row">
        <div class="eight columns offset-by-two">
          <label for="room">Room Name</label>
          <input type="text" name="room" class="room-name u-full-width" placeholder="Room Name" value="{{ . }}">
        </div>
      </div>

      <div class="row">
        <div class="four columns offset-by-two">
          <label for="music_source">Music Source</label>
          <select name="music_source" class="u-full-width">
            <!--<option value="gmusic">Google Play Music</option>-->
            <option value="spotify">Spotify</option>
          </select>
        </div>
        <div class="four columns">
          <label for="shuffle_order">Shuffle Order</label>
          <select name="shuffle_order" class="u-full-width">
            <option value="robin">Round Robin</option>
            <option value="shuffle">Fair Random</option>
            <option value="random">True Random</option>
          </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="button eight columns offset-by-two">Create Room</button>
      </div>
    </form>
  </div>
{{ end }}

{{ define "track" }}
  <div class="track-info">
    <div class="track-title">{{ .Name }}</div>
    <div class="track-artist">{{ .ArtistList }}</div>
  </div>
{{ end }}

{{ define "footer" }}
    <script>
      var host = '{{ .Host }}';
      {{ if .Room }}
        var room = '{{ .Room.ID }}';
      {{ end }} 
    </script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
{{ end }}
