{{ template "header" .}}
  <div class="splash">
    <span class="first">R</span>
    <span class="middle invisible">adi</span>
    <span>otation</span>
  </div>
  <div class="container-fluid hide content">
    <div class="jumbotron">
      <form class="form-horizontal" action="/search">
        <div class="form-group">
          <label for="search" class="col-sm-2 control-label">Search for Music</label>
          <div class="col-sm-8">
            <input type="text" name="search" class="form-control" placeholder="Song name">
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary search">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{{ template "footer" .}}
