{{ define "queue" }}
  {{ if .Queue }}
    {{ $q := .Queue }}
    {{ $r := .Room }}
    {{ range $i, $track := .Queue.Tracks }}
      <div class="queue-track{{if lt $i $q.Offset}} played {{end}}">
        <div href="#" class="thumbnail update">
          <div class="album-art" style="background-image:url({{ $track.Album.Image }})" alt="{{ $track.Album.Name }}">
            {{if ge $i $q.Offset}}
            <form action="/rooms/{{ $r.ID }}/remove">
              <a href="#"><span class="action-icon fa fa-remove"></span></a>
              <input type="hidden" name="id" value="{{ $track.ID }}"/>
            </form>
            {{ end }}
          </div>
        </div>
        {{ template "track" $track }}
      </div>
    {{ end }}
  {{ end }}
{{ end }}
{{ template "queue" .}}
