{{ define "queue" }}
  {{ if .Queue }}
    <div>hi</div>
    {{ $q := .Queue }}
    {{ $r := .Room }}
    {{ range $i, $track := .Queue.Tracks }}
      <div class="queue-track{{if lt $i $q.Offset}} played {{end}}">
        <div href="#" class="thumbnail">
          <div class="album-art" style="background-image:url({{ $track.Album.Image }})" alt="{{ $track.Album.Name }}">
            {{if ge $i $q.Offset}}
            <form class="add" action="/rooms/{{ $r.ID }}/add">
              <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
              <input type="hidden" name="id" value="{{ $track.ID }}"/>
            </form>
            {{ end }}
          </div>
        </div>
        <div class="track-info">
          <p>{{ $track.Name }}</p>
          <p>{{ $track.ArtistList }}</p>
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
{{ template "queue" .}}
