{{ range $track := .Tracks }}
  <div class="row track">
    <div class="col-sm-2">
      <div href="#" class="thumbnail">
        <img src="{{ $track.Album.Image }}" alt="{{ $track.Album.Name }}">
      </div>
    </div>
    <div class="col-sm-8">
      <h1>{{ $track.Name }}</h1>
      <h2>{{ $track.ArtistList }}</h2>
      <h2>{{ $track.Album.Name }}</h2>
    </div>
    <div class="col-sm-2 add">
      <form action="/add">
        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
        <input type="hidden" name="id" value="{{ $track.ID }}"/>
      </form>
    </div>
  </div>
{{ end }}
