{{ range $track := .Tracks }}
  <div class="row track">
    <div class="col-sm-2">
      <div href="#" class="thumbnail">
        <img src="{{ $track.Album.Image }}" alt="{{ $track.Album.Name }}">
      </div>
    </div>
    <div class="col-sm-8">
      <h1>
        {{ range $i, $artist := $track.Artists }}{{ if $i }},{{ end }} {{ .Name }}{{ end }}
      </h1>
      <h2>{{ $track.Name }}</h2>
    </div>
    <div class="col-sm-2 add">
      <!--- Replace this with a form, add submit? -->
      <a href="/add"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
{{ end }}
